<!DOCTYPE html>
<html>
<head>
    <title>Search Result</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="container">
    <div class="container">
        <ul>
        {{#each movies}}
            <li><a href="movie/{{this.movieNo}}">{{this.title}} / 감독 : {{this.directors}} / 장르 : {{this.genres}}</a></li>
        {{/each}}
        </ul>
    </div>
</div>
</body>
</html>

