<!DOCTYPE html>
<html>
<head>
    <title>Movie Detail</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="container" style="flex-direction: column">
    <div>
        <button onclick="history.back()">Go Back</button>
    </div>
    <div>
        {{ movie.title }}[{{ movie.movieNo }}] Detail Page
    </div>
</div>
</body>
</html>
